
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        Brand
      </a>
      <ul class="nav">
        <li>
          <a href="#">
            Link 1
          </a>
        </li>
        <li>
          <a href="#">
            Link 2
          </a>
        </li>
        <li>
          <a href="#">
            Link 3
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="">
    <%= link_to "General Pages", :rails_links %>
  </li>
  <li class="">
    <%= link_to "Testing Rails", :rails_links_testing_rails %>
  </li>
  <li class="active">
    <%= link_to "Project Creation", :rails_links_project_creation %>
  </li>
  <li class="">
    <%= link_to "Rails Repository", :rails_links_rails_repository %>
  </li>
</ul>
<div class="container">
</div>

<style>
  
</style>