
<div class = "server_div">
	<a href="http://www.botanicalmap.com">
    HP Linux Server - Home
  </a>
</div>
<!--
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">
              Sites I Write For
            </li>
            <li>
            </li>
            <li class="">
              <a href="http://www.botanicalmap.com">
                HP Linux Server - Home
              </a>
            </li>
            <li class="">
              <a href="http://www.botanicalmaps.com">
                BotanicalMaps.com
              </a>
            </li>
            <li class="">
              <a href="http://plantparent.herokuapp.com">
                PlantParent - CS147 Final Project
              </a>
            </li>
            <li class="">
              <a href="http://www.botanicalquestion.com">
                NodeJS Amazon Server
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->