<div class="outer_wrapper">

  <div class="header_wrapper">
    <div class="header_left">
      <%= image_tag("rails.png") %>
    </div>

    <div class="header_center">
      <p>RobertHintz.com</p>
    </div>

    <div class="header_right">
      <div class="header_right_div">
        <a href="<%= new_user_path %>" class="header_right_button">
          Signup
        </a>
      </div>
      <div class="header_right_div">
        <a href="#" class="header_right_button">
          Help (Not Functional)
        </a>
      </div>
    </div>
  </div>



</div>



<!--
<div class="outer_wrapper">
  
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Brand
        </a>
        <ul class="nav">
          <li>
            <%= link_to "Rails Links", :rails_links %>
          </li>
          <li>
            <a href="#">
              Link 2
            </a>
          </li>
          <li>
            <%= link_to "Edit Place", edit_password_reset_path(1) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">
              Sites I Write For
            </li>
            <li>
            </li>
            <li class="">
              <a href="http://www.botanicalmap.com">
                HP Linux Server - Home
              </a>
            </li>
            <li class="">
              <a href="http://www.botanicalmaps.com">
                BotanicalMaps.com
              </a>
            </li>
            <li class="">
              <a href="http://plantparent.herokuapp.com">
                PlantParent - CS147 Final Project
              </a>
            </li>
            <li class="">
              <a href="http://www.botanicalquestion.com">
                NodeJS Amazon Server
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
-->