<div class="under_header_tab">
  <a href="#" class="under_header_tab_button">Home</a>
</div>
<div class="under_header_tab">
  <a href="#" class="under_header_tab_button">About</a>
</div>
<div class="under_header_tab">
  <a href="#" class="under_header_tab_button">Folder System</a>
</div>
<div class="under_header_tab">
  <a href="<%= servers_path %>" class="under_header_tab_button">Servers</a>
</div>